engine-strict=true
auto-install-peers=true
shamefully-hoist=true
registry=https://registry.npmmirror.com/
fetch-timeout=60000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
